.container{
    background-color: aquamarine;
    height: 100px;
    width: 100%;
    border: 2px solid black;

}

#item{

color: black;
border: 2px solid black;
width: 30px;
height: 60px;
display: flex;
justify-content: space-around;

}
